# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_ENDPOINT_URL=

S3_BUCKET=
TEMP_DIR=

# Temporal
TEMPORAL_HOST=
TEMPORAL_NAMESPACE=
TEMPORAL_PDF_PROCESS_TASK_QUEUE=
TEMPORAL_TASK_QUEUE = 

# OpenRouter
OPENROUTER_API_KEY=
OPENROUTER_MODEL=


#OpenAI "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"
OPENAI_MODEL=

#Groq 
GROQ_API_KEY=
GROQ_MODEL=
