.env
**/.env
!.env.example
!**/.env.example

__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

.venv/
venv/
env/
temporal/

temporal_cli_1.7.2_linux_amd64.tar.gz
.DS_Store

*.log

tmp/
temp/