[Unit]
Description=Temporal PDF Pipeline Worker
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/mnt/e/InterShip/Ai/Course/AI-Agents/app/pdf-extraction-temporal
ExecStart=/mnt/e/InterShip/Ai/Course/AI-Agents/temporal/bin/python worker.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target